<div class="card rounded-3 shadow-sm mb-5" style="margin-right: 30%;" id="post{{idn}}">
    <script src="/static/js/api_handler.js" type="text/javascript"></script>
    <script src="/static/js/post_card.js" type="text/javascript"></script>
    <div class="card-header py-3">
        <a style="display: inline-block; vertical-align: middle;" class="bi" href="/{{author}}">
            <h3 class="my-0 fw-normal">
                <svg width="24" height="24" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd"
                          d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                </svg>
                {{author}}
            </h3>
        </a>
    </div>
    <div class="card-body">
        <small class="text-muted">{{date}}</small>
        <h5>{{text}}</h5>
        <br>
        <div class="p-2 d-flex align-items-center">
            <button class="btn btn-outline-dark me-auto" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseWidthExample{{idn}}" aria-expanded="false"
                    aria-controls="collapseWidthExample{{idn}}">
                <svg width="16" height="16" fill="currentColor" class="bi bi-reply" viewBox="0 0 16 16">
                    <path d="M6.598 5.013a.144.144 0 0 1 .202.134V6.3a.5.5 0 0 0 .5.5c.667 0 2.013.005 3.3.822.984.624 1.99 1.76 2.595 3.876-1.02-.983-2.185-1.516-3.205-1.799a8.74 8.74 0 0 0-1.921-.306 7.404 7.404 0 0 0-.798.008h-.013l-.005.001h-.001L7.3 9.9l-.05-.498a.5.5 0 0 0-.45.498v1.153c0 .108-.11.176-.202.134L2.614 8.254a.503.503 0 0 0-.042-.028.147.147 0 0 1 0-.252.499.499 0 0 0 .042-.028l3.984-2.933zM7.8 10.386c.068 0 .143.003.223.006.434.02 1.034.086 1.7.271 1.326.368 2.896 1.202 3.94 3.08a.5.5 0 0 0 .933-.305c-.464-3.71-1.886-5.662-3.46-6.66-1.245-.79-2.527-.942-3.336-.971v-.66a1.144 1.144 0 0 0-1.767-.96l-3.994 2.94a1.147 1.147 0 0 0 0 1.946l3.994 2.94a1.144 1.144 0 0 0 1.767-.96v-.667z"/>
                </svg>
                Reply
            </button>
            <a href="/post/{{idn}}" class="text-muted d-inline-flex justify-content-end align-self-center">Replies:
                {{replies}}</a>
        </div>
        <div style="min-height: 0px;">
            <div class="collapse collapse-vertical" id="collapseWidthExample{{idn}}">
                    <textarea class="rounded-3 card"
                              style="width: 300px; display: inline-block; vertical-align: middle;"
                              id="textarea{{idn}}"></textarea>
                <button style="display: inline-block; vertical-align: middle;"
                        class="btn btn-success mx-3" onclick="replyToPost('{{idn}}');">Send
                </button>
            </div>
        </div>
    </div>
</div>